# Ignore everything, but still check in sub-directories
*
!*/

# ----------------------

!.gitignore
!README.md
!LICENSE

# the example note files
!note*.md

# GitHub-specific files
!.github/dependabot.yml
!.github/workflows/codeql.yml
!.github/workflows/pytest.yml

# ----------------------

!*.py

!.pre-commit-config.yaml
!pyproject.toml
!poetry.lock
!setup.cfg
