# Ignore everything, but still check in sub-directories
*
!*/

# ----------------------

!.gitignore
!README.md
!LICENSE

# ----------------------

!.pre-commit-config.yaml
!pyproject.toml
!poetry.lock
